// global color tokens
$-clr-white: hsl(0 0% 100%);
$-clr-lightgray: hsl(212, 45%, 89%);
$-clr-bluegray: hsl(220, 15%, 55%);
$-clr-darkblue: hsl(218, 44%, 22%);

$light: (
  "neutral": (
    "000": $-clr-white,
    "100": $-clr-lightgray,
  ),
  "primary": (
    "300": $-clr-bluegray,
    "800": $-clr-darkblue,
  ),
);

// contextual color tokens
$color-neutral-000: var(--neutral-000);
$color-neutral-100: var(--neutral-100);

$color-primary-300: var(--primary-300);
$color-primary-800: var(--primary-800);
